$link-theme-color: #0F8B8D;
$primary-theme-color: #000000;
$secondary-theme-color: #707070;
$gray-theme-color: #eeeeee;
$green-theme-color: #0F8B8D;
$lightgray-theme-color: #F3F7F6;
$white-theme-color: #ffffff;
